<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
{% autoescape off %}
{{ REDIRECT_LOGIN }}
{% endautoescape %}
<br/>
<a href="https://t.me/{{ TELEGRAM_BOT_NAME }}">Speak with BOT</a>
</body>
</html>