
.og-card {
    background-color: #fff;
    height: 100px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
    display: flex;
    text-decoration: none;
    color: #000;
    border: #cacaca solid 1px;
}

.og-card:hover {
    background-color: #eee;
}

.og-description {
    font-size: 12px;
    height: 80%;
    overflow: hidden;
}

.og-title {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 370px;
    white-space: nowrap;
}

.og-body {
    width: 100%;
    padding: 5px;
}

.og-image {
    margin: 5px;
    float: left;
    height: 90px;
}

.og-image > img {
    height: inherit;
}
