html {
}

body {
    margin: 0;
    position: fixed;
    width: 100%;
    height: 100%;
}

.nav {
    background-color: rgba(0, 143, 255, 0.26);
    grid-column: span 5;
}

.container {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: 30px 1fr;
    grid-template-columns: 1fr 300px minmax(300px, 600px) 300px 1fr;
}

.footer {
    height: 30px;
    background-color: rgba(145, 211, 239, 0.2);
    grid-column: span 5;
}

@media (max-width: 1100px) {
    .container {
        grid-template-columns: 300px minmax(300px, 600px);
    }

    #column-right {
        display: none;
    }

    .space {
        display: none;
    }
}

@media (max-width: 800px) {
    .container {
        grid-template-columns: minmax(300px, 800px);
    }

    #column-left {
        display: none;
    }

    .space {
        display: none;
    }
}

.column {
    padding-left: 5px;
    padding-right: 5px;
}

#column-mid {
    display: flex;
    overflow: auto;
    scrollbar-width: none;

    padding-top: 0;
    padding-bottom: 0;
}

#column-mid::-webkit-scrollbar {
    display: none;
}

.cards {
    height: 100%;
    width: 100%;
    flex-direction: column;
    padding: 0;
}

.card {
    margin-bottom: 10px;
    width: 100%;
    background-color: #bddae4;
    border-radius: 5px;
    border: #5a6268 1px;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}

.card:first-child {
    margin-top: 10px;
}

.card-body {
    padding: 10px;
}

.btn-login {
    margin: 5px;
    float: right;
}

.btn-follow {
    background-color: #00fffc;
}

.btn-unfollow {
    background-color: rgba(255, 119, 0, 0.44);
}

/*CARD*/


.post-button img {
    opacity: 0.5;
    height: 20px;
    cursor: pointer;
}

.post-button:hover img {
    opacity: 1;
}

.post-date {
    font-size: 12px;
    color: rgb(61, 66, 72);
}

/* REACTION */


.reaction {
    float: right;
    margin-top: -10px;
    margin-right: -10px;
}

.reaction * {
    height: 20px;
}

.reaction *:first-child {
    border-top-left-radius: .25rem;
}

.reaction *:last-child {
    border-bottom-right-radius: .25rem;
}

.reaction-text {
    float: left;
    font-size: 14px;
    user-select: none;
    -moz-user-select: none;
    background-color: rgba(0, 0, 0, 0.05);
}


.minus-button {
    float: right;
    background-color: rgba(0, 255, 0, 0.2);
}

.plus-button {
    float: left;
    background-color: rgba(255, 0, 0, 0.2);
}

