<!DOCTYPE html>
<html lang="ru">
<head>
    <title>{{ user.first_name }}'s wall</title>

    <script src="/static/jquery-3.4.0.min.js"></script>

    <script src="/static/simple-lightbox/simpleLightbox.min.js"></script>
    <link href="/static/simple-lightbox/simpleLightbox.min.css" rel="stylesheet">

    <script src="/static/vue/vue.js"></script>
    <script src="/static/moment-with-locales.min.js"></script>

    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/og.css">
    <link rel="stylesheet" href="/static/user-card.css">

    {% if user.photo_url %}
        <meta name="og:image" content="{{ user.photo_url }}">
    {% endif %}
    <meta name="og:name" content="{{ user.first_name }}'s wall">

    <script>
      let False = false
      let True = true
      let following = {{ following }};
      let csrf_token = {'X-CSRFToken': "{{ csrf_token }}"}

      function remove_post(post_id) {
        $.ajax({
          url: "/post/" + post_id,
          type: 'DELETE',
          headers: csrf_token
        }).done((data) => {
          $('#post_' + data['id']).hide()
          $(this).addClass("done")
        }).fail((data) => {
          console.log(data)
        })
      }

      function reaction(post_id, r) {
        $.ajax({
          url: "/post/" + post_id,
          data: {value: r},
          method: 'POST',
          headers: csrf_token
        }).done((data) => {
          console.log(data)
        }).fail((data) => {
          console.log(data)
        })
      }

      function follow() {
        $.ajax({
          url: "/follow/" + {{ user.id }}
        }).done((data) => {
          if (data['status'] === 'ok') {
            follow_btn(true)
          }
        }).fail((data) => {
          console.log(data)
        })
      }

      function unfollow() {
        $.ajax({
          url: "/unfollow/" + {{ user.id }}
        }).done((data) => {
          if (data['status'] === 'ok') {
            follow_btn(false)
          }
        }).fail((data) => {
          console.log(data)
        })
      }

      function follow_btn(state) {
        let btn = $('#btn-follow')
        following = state
        console.log('Follow: ' + state)
        if (!state) {
          btn.removeClass('btn-unfollow')
          btn.addClass('btn-follow')
          btn.text('Follow')
          btn.unbind('click')
          btn.click(() => {
            follow()
          })
        }else{
          btn.removeClass('btn-follow')
          btn.addClass('btn-unfollow')
          btn.text('UnFollow')
          btn.unbind('click')
          btn.click(() => {
            unfollow()
          })
        }
      }

      function ellipsizeTextBox(s) {
        $(s).each((a, el) => {
          var wordArray = el.innerHTML.split(' ')

          while (el.scrollHeight > el.offsetHeight){
            wordArray.pop()
            el.innerHTML = wordArray.join(' ') + '...'
          }
        })
      }
    </script>
</head>
<body>
<div class="container">
    <div class="nav">
        <div class="navbar-right">
            {% if me.is_anonymous %}
            {% autoescape off %}
            {{ login_widget }}
            {% endautoescape %}
            {% else %}
            <a href="/logout" class="btn btn-success btn-login">Logout</a>
            {% endif %}
        </div>
    </div>
    <div class="space"></div>
    <div class="column" id="column-left">
        <div class="ui card">
            <div class="card-body user-card">
                {% if user.photo_url %}
                    <img v-if="" src="{{ user.photo_url }}" class="user-photo">
                {% endif %}
                <div class="user-name">
                    {{ user.first_name }}
                </div>

                {% if not me.is_anonymous and me != user %}
                    <a class="btn btn-info" id="btn-follow"></a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="column" id="column-mid">
        {% raw %}
        <div id="cards" class="cards">
            <div class="card" v-for="post in posts" :id="'post_'+post.id">
                <div class="card-body">
                    <a class="post-button" :onclick="'remove_post('+post.id+')'" v-if="user_id == post.from_user">
                        <img src="/static/icons/close2.png"
                             style="float: right"
                             alt="close">
                    </a>
                    <div class="card-title" v-if="post.forward">
                        <a :href="'/user/'+post.forward.username" v-if="post.forward.type=='user'">
                            {{ post.forward.name }}
                        </a>
                        <a v-if="post.forward.type=='chat'">
                            {{ post.forward.name }}
                        </a>
                    </div>

                    <div class="card-subtitle post-date" :date="post.date"></div>

                    <p class="card-text unlinked">{{ post.text }}</p>

                    <ul style="display: none" class="links">
                        <a v-for="url in Object.keys(post.links)" :href="url">{{ url }}</a>
                    </ul>

                    <div class="gallery" :id="'gallery_'+post.id" v-if="post.photos.length">
                        <a :href="'/image/'+photo.big" class="big" v-for="photo in post.photos">
                            <img :src="'/image/'+photo.small">
                        </a>
                    </div>

                    <div v-for="(link, url) in post.links">
                        <iframe class="og-card"
                                style="height: 350px"
                                :src="link.player"
                                v-if="link.player">
                        </iframe>
                        <a class="og-card" :href="url" v-else-if="link.image">
                            <div class="og-image">
                                <img :src="link.image" :alt="link.title">
                            </div>
                            <div class="og-body">
                                <div class="og-title">{{ link.title }}</div>
                                <div class="og-description">
                                    {{ link.description }}
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="reaction">
                        <a class="post-button plus-button"
                           :onclick="'reaction('+post.id+', -1)'"
                           v-if="user_id != post.from_user && user_id != 0">
                            <img src="/static/icons/down2.png" alt="down">
                        </a>
                        <div class="reaction-text">
                            <span style="color: red;">&nbsp;{{ post.reaction.neg }}</span>/<span
                                style="color: green">{{ post.reaction.pos }}&nbsp;</span>
                        </div>
                        <a class="post-button minus-button"
                           :onclick="'reaction('+post.id+', 1)'"
                           v-if="user_id != post.from_user && user_id != 0">
                            <img src="/static/icons/up2.png" alt="up">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endraw %}
    </div>
    <div class="column" id="column-right">
        <div class="card">
            <div class="card-body">Тут зафигачу рекламу!</div>
        </div>
    </div>
    <div class="space"></div>
</div>
</body>
<script>
  let post_list = []
  let page = {
    next: '/api/post/?uid=' + {{ user.id }}
  }

  function linkify(text) {
    // http://, https://, ftp://
    var urlPattern = /\b(?:https?|ftp):\/\/[a-z0-9-+&@#\/%?=~_|!:,.;]*[a-z0-9-+&@#\/%=~_|]/gim

    // www. sans http:// or https://
    var pseudoUrlPattern = /(^|[^\/])(www\.[\S]+(\b|$))/gim

    // Email addresses
    var emailAddressPattern = /[\w.]+@[a-zA-Z_-]+?(?:\.[a-zA-Z]{2,6})+/gim

    return text
      .replace(urlPattern, '<a href="$&">$&</a>')
      .replace(pseudoUrlPattern, '$1<a href="http://$2">$2</a>')
      .replace(emailAddressPattern, '<a href="mailto:$&">$&</a>')
  }


  new Vue({
    el: '#cards',
    data: {
      posts: post_list,
      user_id: {{ me.id or 0 }},
    },
    updated: () => {
      $('.gallery').each((x, y) => {
        $('#' + y.id + ' a').simpleLightbox()
      })
      $('.post-date').each((x, y) => {
        y.innerText = moment(y.attributes.date.value, 'YYYY-MM-DDThh:mm:ss').calendar()
      })
      ellipsizeTextBox('.og-description')
      $('.unlinked').removeClass('unlinked').each((x, y) => {
        y.innerHTML = linkify(y.innerHTML)
      })
    }
  })

  function loadMore() {
    if (page.loading || page.next == null) {
      return
    }
    page.loading = true
    $.ajax(
      page.next
    ).done(data => {
        page = data
        page['results'].forEach(
          item => post_list.push(item)
        )
      }
    )
  }

  loadMore()

  let listElm = document.querySelector('#column-mid')
  listElm.addEventListener('scroll', () => {
    if (listElm.scrollTop + listElm.clientHeight >= listElm.scrollHeight) {
      loadMore()
    }
  })

  follow_btn(following)
  moment.locale('ru')
</script>
</html>
